header{
	top: 0;
	position: relative;
	z-index: 9;
}
.divider{
	margin-top: -40px;
	padding-top: 10px;
}
.google-input {
    width: 100%;
    transition: .2s;
}

.google-input:focus {
    transition: .2s;
}

.google-input:focus + .google-input__label, .google-input:valid + .google-input__label {
    top: -10px;
    left: 8px;
    font-size: 12px;
}

.google-input__container {
    position: relative;
}

.google-input__label {
    position: absolute;
    top: 12px;
    left: 12px;
    transition: .15s ease-in;
}